# Created by venv; see https://docs.python.org/3/library/venv.html
venv
.vscode
.pytest_cache
**/__pycache__/
./src/__pycache__
./src/tests/__pycache__
dist
build
src/gentgran.db
.env
postgres-data/
logs/
tmp